.excuse-generator {
    text-align: center;
    margin-top: 50px; 
  
    @media screen and (max-width: 320px) {
      margin-top: 20px;
    }
  }

  .title {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .excuse-generator__select {
    margin-bottom: 10px; 
    padding: 8px 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
  
    @media screen and (max-width: 320px) {
      width: 100%; 
    }
  }
  
  .excuse-generator__buttons {
    margin-bottom: 20px; 
  
    @media screen and (max-width: 320px) {
      display: flex; 
      flex-direction: column; 
    }
  }
  
  .excuse-generator__button {
    background-color: blue; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px; 
    transition: background-color 0.3s ease; 
  
    @media screen and (max-width: 320px) {
      margin-bottom: 10px; 
      width: 100%;
    }
  
    &:last-child {
      margin-right: 0; 
    }
    
    &:hover {
      background-color: navy; 
    }
  }
  
  .excuse-generator__current-excuse {
    margin-top: 20px; 
    color: #333; 
  
    @media screen and (max-width: 320px) {
      font-size: 14px; 
    }
  }
  
  .excuse-generator__form {
    margin-top: 50px; 
  
    @media screen and (max-width: 320px) {
      margin-top: 30px; 
    }
  }
  
  .excuse-generator__input {
    margin-right: 10px; 
    padding: 10px; 
  
    @media screen and (max-width: 320px) {
      width: calc(100% - 25px); 
    }
  }

  .dog-excuse {
    height: 10rem;
    width: auto;
    border-radius: .25rem;
  }
  
  .excuse-generator__button[type="submit"] {
    margin-top: .5rem;
    background-color: rgb(3, 231, 37); 
    transition: background-color 0.3s ease; 
    color: black;
  
    &:hover {
      background-color: rgb(43, 155, 60); 
      color: black;
    }
  }
  
  .excuse-generator__button.delete {
    background-color: rgb(240, 74, 102); 
    transition: background-color 0.3s ease; 

    &:hover {
      background-color: pink; 
      color: black;
    }
  }